<!doctype html>
<html lang="en">
  <head>
    <title>Registration</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <!--<form>
      <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
          <label class="sr-only" for="inlineFormInputName">Name</label>
          <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
        </div>
        <div class="col-sm-3 my-1">
          <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
          </div>
        </div>
        <div class="col-auto my-1">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
            <label class="form-check-label" for="autoSizingCheck2">
              Remember me
            </label>
          </div>
        </div>
        <div class="col-auto my-1">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>-->

    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
          <div class="container-fluid">
              <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|} ">
                  <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 ">
                      
                  </div>
                  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                      <form class="p-4" method="post" enctype="multipart/form-data">
                          <h2>Registration </h2>
              
                          <div class="form-row">

                            <div class="form-group col-md-6">
                              <label class="sr-only" for="inlineFormInputGroupUsername">First Name</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">F N</div>
                                </div>
                                <input type="text" name="f_name" class="form-control" id="inlineFormInputGroupUsername" placeholder="First Name">
                              </div>                           
                            </div>

                            <div class="form-group col-md-6">
                              <label class="sr-only" for="inlineFormInputGroupUsername">Last Name</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">L N</div>
                                </div>
                                <input type="text" name="l_name" class="form-control" id="inlineFormInputGroupUsername" placeholder="Last Name">
                              </div>                           
                            </div>

                          </div>
              
                          <div class="form-row">

                            <div class="form-group col-md-6">
                              <label class="sr-only" for="inlineFormInputGroupUsername">Email</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">E M</div>
                                </div>
                                <input type="email"  name="u_email"  class="form-control" id="inlineFormInputGroupUsername" placeholder="Email">
                              </div>                           
                            </div>

                            <div class="form-group col-md-6">
                              <label class="sr-only" for="inlineFormInputGroupUsername">Password</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">P W</div>
                                </div>
                                <input type="text"  name="u_pass"  class="form-control" id="inlineFormInputGroupUsername" placeholder="Password">
                              </div>                           
                            </div>

                          </div>
  
                          <div class="form-group">
                              <div class="mb-3">
                                  <label for="formFileMultiple" class=""></label>
                                  <input class="" type="file" accept="image/*" name="u_img" id="formFileMultiple" multiple>
                              </div>
                          </div>
                        
                        
                          <input type="submit" class="btn btn-primary" value='Register' />
                      </form>
                      
                    
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 ">
                     
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>